<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link type="image/png" href="/images/favicon.png">
</head>
<body>
    <h1 class="header">{{title}}</h1>
    <p class="sub">{{subtitle}}</p>
    <hr>

    <p class="enter">Enter your message:</p>

    <form>
        <input type="text" placeholder="eg. Go to the party at ten." id="input">
        <button id="button" onclick="main()">Submit</button>
    </form>
    <hr>

    <h3 id="header"></h3>
    <p id="paragraph"></p>
    <hr>

    <sup class="supertext"><{{boldtext}}>TIP:</{{boldtext}}> {{message1}}<a href="https://maz-decoder.herokuapp.com">decoder</a>{{message2}}</sup>

    <!-- SCRIPTS -->
    <script src="/js/encoder.js"></script>
</body>
</html>